[Unit]
Description=zegar-delta/budzik-worker

[Service]
Type=simple
ExecStart=/opt/zd/minion/minion.rb
Restart=always

[Install]
WantedBy=multi-user.target
